<ion-content [fullscreen]="true" class="login-page">
  <div class="login-wrapper">
    <div class="login-container">
      
      <div class="logo-section">
        <img src="assets/logo.png" alt="App Logo" class="app-logo">
      </div>

      <h1>guild letter</h1>
      <p>¡Únete y sé parte del gremio que estimes adecuado!</p>
      
      <button class="custom-google-btn" (click)="signInWithGoogle()">
        <div class="google-icon-wrapper">
          <img src="assets/icon/google.png" alt="google">
        </div>
        <span>Continuar con Google</span>
      </button>

    </div>
  </div>
</ion-content>