<ion-header class="ion-no-border">
  <ion-toolbar class="transparent-toolbar">

    <!-- 🔥 botón QR -->
    <ion-buttons slot="start">
      <ion-button (click)="goToStoreCode()" class="qr-nav-btn">
        <ion-icon name="qr-code-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title class="admin-title">Panel Admin</ion-title>

    <!-- 🔥 botón logout -->
    <ion-buttons slot="end">
      <ion-button (click)="logout()" class="logout-btn">
        <ion-icon name="log-out-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content class="home-admin-page">
  <div class="main-content">
    
    <div class="avatar-container">
      <div class="glow-ring"></div>
      <img *ngIf="userAvatar" [src]="userAvatar" alt="Profile" class="profile-img" referrerpolicy="no-referrer">
      <ion-icon *ngIf="!userAvatar" name="person-circle" class="fallback-img"></ion-icon>
    </div>

    <div class="welcome-text">
      <p>Hola Admin:</p>
      <h1>{{ userAlias }}</h1>
    </div>

    <div class="admin-actions">
      <!-- futuro contenido -->
    </div>

  </div>
</ion-content>